.demo-table {
  width: 80%;
}

.mat-column-demo-name {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-demo-symbol {
  width: 10%;
  text-align: center;
  font-weight: bold;
}

.mat-column-demo-symbol-2 {
  width: 10%;
  text-align: center;
  font-weight: bold;
}
  