<h3 class="display-5 mb-2 text-center">Overview</h3>
<div class="container d-flex justify-content-center mt-5 mb-5">
    <table mat-table *ngIf="data.length > 0" [dataSource]="data" class="mat-elevation-z8 demo-table">
        <!-- Informação -->
        <ng-container matColumnDef="demo-name">
          <th mat-header-cell *matHeaderCellDef> Informação </th>
          <td mat-cell *matCellDef="let element"> {{element.info}} </td>
        </ng-container>
      
        <!-- Quantidade -->
        <ng-container matColumnDef="demo-symbol">
          <th mat-header-cell *matHeaderCellDef> Quantidade </th>
          <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>

<div class="container d-flex justify-content-center">
    <table mat-table [dataSource]="ELEMENT_DATA_YEAR" class="mat-elevation-z8 demo-table">
        <!-- Informação -->
        <ng-container matColumnDef="demo-name">
          <th mat-header-cell *matHeaderCellDef> Informação </th>
          <td mat-cell *matCellDef="let element"> {{element.info}} </td>
        </ng-container>
      
        <!-- Primeiro ano -->
        <ng-container matColumnDef="demo-symbol">
          <th mat-header-cell *matHeaderCellDef> 1º ano </th>
          <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>

        <ng-container matColumnDef="demo-symbol-2">
            <th mat-header-cell *matHeaderCellDef> Último ano </th>
            <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsYear"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsYear;"></tr>
      </table>
</div>