.demo-table {
    width: 65%;
  }
  
  .mat-column-demo-name {
    padding-left: 16px;
    font-size: 20px;
  }
  
  .mat-column-demo-symbol {
    width: 80px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
    