<h3 class="display-5 mb-2 text-center">Relatório de quantidade por posição</h3>
<div class="container d-flex justify-content-center mt-5 mb-5">
    <table mat-table *ngIf="data.length > 0" [dataSource]="data" class="mat-elevation-z8 demo-table">
        <!-- Informação -->
        <ng-container matColumnDef="demo-name">
          <th mat-header-cell *matHeaderCellDef> Posição </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
      
        <!-- Quantidade -->
        <ng-container matColumnDef="demo-symbol">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>