<div class="container d-flex justify-content-center mt-5 mb-5">
    <div class="card mb-5">
      <div class="card-header">Cadastrar usuário</div>
  
      <div class="card-body">
        <form [formGroup]="form" (submit)="submit()">
          <div>
            <mat-form-field appearance="fill" class="full-width-field">
              <mat-label>Login</mat-label>
              <input
                matInput
                placeholder="login"
                formControlName="login"
                required
              />
              <mat-error *ngIf="form.get('login')?.invalid">{{
                errosInput("login")
              }}</mat-error>
            </mat-form-field>
          </div>
  
          <div>
            <mat-form-field appearance="fill" class="full-width-field">
              <mat-label>Senha</mat-label>
              <input
                matInput
                placeholder="Senha"
                formControlName="password"
                required
              />
              <mat-error *ngIf="form.get('password')?.invalid">{{
                errosInput("password")
              }}</mat-error>
            </mat-form-field>
          </div>
  
          <div>
            <mat-form-field appearance="fill" class="full-width-field">
              <mat-label>Selecionar tipo</mat-label>
              <mat-select formControlName="type" required>
                <mat-option
                  name="tipo"
                  *ngFor="let tipo of tipos"
                  [value]="tipo"
                  >{{ tipo }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <button type="submit" class="btn btn-primary mb-2">Enviar</button>
        </form>
      </div>
    </div>
  </div>
  